<!-- I borrowed some of the format for this from Finance -->

{% extends "layout.html" %}

{% block title %}
    Update Contact
{% endblock %}

{% block main %}
    <h1>Update Your Contact Information</h1>
    <p>Your current email is {{ current_email }}. Enter a new email below.</p> 
    <form action="/update_contact" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="New Email" type="email">
        </div>
        <button class="btn btn-primary" type="submit">Update Contact</button>
    </form>
{% endblock %}